.services.section .wrapper .container {
    flex: 1 0;
    position: relative;
    color: var(--white);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.services.section .wrapper .container img {
    border-radius: var(--border-radius);
}

.services.section .wrapper .container .content {
    display: none;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    bottom: 40px;
    left: 40px;
}

.services.section .wrapper .container:hover .content {
    display: flex;
}

.services.section .wrapper .container h5 {
    font-weight: 600;
    font-size: 24px;
}

.services.section .wrapper .container .btn.ghost-btn {
    color: var(--white);
    border-color: var(--white);
}

.services.section .wrapper .container .btn.ghost-btn:hover {
    border-color: var(--primary);
}

@media (max-width: 560px) {
    .services.section .wrapper .container {
        flex: 1 0 100%;
    }
}