.banner.section,
.banner.section .row {
    min-height: 100vh;
}

.banner.section {
    color: var(--white);
    background-image: url('/home/assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    position: relative;
}

.banner.section .row {
    z-index: 9;
}

.banner.section h1 {
    font-size: 56px;
}

.banner.section h1,
.banner.section p {
    max-width: 50%;
}

.services.section .wrapper .container {
    flex: 1 0;
    border-radius: var(--border-radius);
}

.services.section .wrapper .container img {
    border-radius: var(--border-radius);
}

.services.section .wrapper .container .content {
    display: none;
}

.services.section .wrapper .container:hover .content {
    
}

.services.section .wrapper .container:hover img {
    
}

.services.section .wrapper .container h5 {
    
}

.services.section .wrapper .container p {
    
}