.section.filter {
    margin: unset;
    padding: 60px;
}

.filter .wrapper {
    align-items: center;
}

.filter .wrapper label {
    font-size: 20px;
    font-weight: 600;
}

.filter .wrapper select {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    border: 1px solid var(--black);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.filter .wrapper select:focus-visible {
    outline: none;
    outline-offset: 0;
    border: 2px solid var(--primary);
    transition: var(--transition);
}

.services .wrapper {
    justify-content: flex-start;
}

.services .wrapper .item {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: var(--boxShadow);
}

.services .wrapper .item img {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.services .wrapper .item .content {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.services .wrapper .item .content h5 {
    font-size: 18px;
    font-weight: 600;
}

.services .wrapper .item .content .price {
    color: var(--primary);
    font-weight: 600;
}

.services .wrapper .item .content .label {
    color: var(--white);
    font-weight: 600;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: 5px 10px;
}

.services .wrapper .item .content .content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.services .wrapper .item a {
    margin-top: auto;
    padding: 0 30px 20px 30px;
}

@media (max-width: 560px) {
    .services .wrapper .item {
        flex: 1 0 40%;
    }
}